---

- name: "install_base_soft | include tasks for Debian/Ubuntu."
  include_tasks: Debian.yml
  when: when: ansible_os_family == 'Debian'

- name: "install_base_soft | include tasks for RedHat/CenOS."
  include_tasks: RedHat.yml
  when: when: ansible_os_family == 'RedHat'
